.input {
  background-color: transparent;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: var(--text-default);
  outline: none;

  border: 0.2rem solid transparent; /* Define a cor da borda como transparente para que ela não seja visível inicialmente */
  border-bottom: 0.2rem solid var(--primary); /* Define a cor da borda inferior como a cor primária para que ela seja visível inicialmente */
  transition: all 0.1s ease-in-out; /* Adiciona uma transição suave para a cor da borda quando o input está em foco */
}


.input:focus {
  border-radius: 0.8rem; /* Mantém o mesmo raio de borda quando o input está em foco */
  border: 0.2rem solid var(--primary);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
  border-bottom: 0.2rem solid var(--disabled); /* Define a cor da borda inferior como cinza quando o input está desabilitado */
  color: var(--text-muted); /* Define a cor do texto como cinza quando o input está desabilitado */
}